@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: #40514e;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 120px;
  position: relative;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 50px;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h1,
h2 {
  color: #66bfbf;
}

h3,
a {
  color: #11999e;
}

p {
  line-height: 2;
}

hr {
  border: dotted #e4f6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.dev {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.myimage{
  height: 350px;
  width: 25%;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-image-1 {
  height: 200px;
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-image-2 {
  height: 200px;
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #39a692;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30785f;
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}